<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <title>MemeTown</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
     <div class="container">
    <%= yield %>
  </body>
</html>
